html {
  --background-color: #fafafa;
  --search-background-color: white;
  --selected-color: #eee;
  --text-color: #313131;
  --path-text-color: #575757;
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #1c1c1c;
    --search-background-color: #1a1a1a;
    --selected-color: #1f1f1f;
    --text-color: #eee;
    --path-text-color: #888;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
